.Header {
  display: flex;
  align-items: center;
  gap: $space-12;
  position: sticky;
  top: 0;
  z-index: 9999;

  height: 64px;
  padding-inline: var(--main-inline-padding);
  background: var(--color-bg-primary);
}

.ActionsContainer {
  margin-left: auto;
  display: flex;
  gap: $space-4;
}
