.ProductGallery {
  --slide-space: #{$space-8};
  display: flex;
  flex-direction: column;
  gap: $space-8;

  @media screen and (width > #{$bp-lg-1280}) {
    flex-direction: row-reverse;
  }
}

.Main {
  .Viewport {
    overflow: hidden;
  }

  .Container {
    display: flex;
    gap: var(--slide-space);

    height: var(--slide-height);
  }

  .Slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 100%;
    aspect-ratio: 1 / 1;

    min-width: 0;
  }
}

.Thumbs {
  @media screen and (width > #{$bp-lg-1280}) {
    flex: 0 0 18%;
  }

  .ThumbsViewport {
    overflow: hidden;
  }

  .ThumbsContainer {
    display: flex;
    gap: $space-8;

    @media screen and (width > #{$bp-lg-1280}) {
      flex-direction: column;
    }
  }

  .Thumb {
    flex: 0 0 20%;
    position: relative;
    overflow: hidden;

    aspect-ratio: 1 / 1;
    border-radius: $radius-12;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
    }

    &[data-selected="true"] {
      &::after {
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }
}
