.ProductGallery {
  --slide-spacing: 0;
  --slide-size: 100%;

  display: flex;
  flex-direction: column-reverse;
  gap: $space-16;

  max-width: 536px;
  height: 100%;

  @media screen and (width > #{$bp-lg-1280}) {
    flex-direction: row;
    max-width: 100%;

    height: 536px;
  }
}

.Main {
  .Viewport {
    overflow: hidden;
    height: 100%;
    border-radius: $radius-16;
    overflow: hidden;
  }

  .Container {
    display: flex;
    height: 100%;

    margin-left: calc(var(--slide-spacing) * -1);

    touch-action: pan-y pinch-zoom;
  }

  .Slide {
    max-height: 500px;
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);

    @media screen and (width > #{$bp-lg-1280}) {
      max-height: 100%;
    }
  }
}

.Thumbs {
  .ThumbsViewport {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .ThumbsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: $space-12;

    margin-left: calc(var(--thumbs-slide-spacing) * -1);

    @media screen and (width > #{$bp-lg-1280}) {
      flex-direction: column;
    }
  }
}
