@use "sass:map";
@use "./colors.scss" as *;

:root,
:root[data-theme="light"] {
  --color-bg-primary: #{map.get($light, gray1)};
  --color-bg-secondary: #{map.get($light, gray2)};
  --color-bg-contrast: #{map.get($light, gray12)};
  --color-bg-hover: #{map.get($light, gray3)};
  --color-bg-active: #{map.get($light, gray4)};
  --color-bg-soft: #{map.get($light, grayA3)};
  --color-bg-soft-hover: #{map.get($light, grayA4)};
  --color-bg-soft-active: #{map.get($light, grayA5)};
  --color-bg-disabled: #{map.get($light, grayA3)};

  --color-text-primary: #{map.get($light, gray12)};
  --color-text-secondary: #{map.get($light, gray11)};
  --color-text-accent: #{map.get($light, green11)};
  --color-text-contrast: #{map.get($light, gray1)};
  --color-text-disabled: #{map.get($light, gray8)};
}

:root[data-theme="dark"] {
  --color-bg-primary: #{map.get($dark, gray1)};
  --color-bg-secondary: #{map.get($dark, gray2)};
  --color-bg-contrast: #{map.get($dark, gray12)};
  --color-bg-hover: #{map.get($dark, gray3)};
  --color-bg-active: #{map.get($dark, gray4)};
  --color-bg-soft: #{map.get($dark, grayA3)};
  --color-bg-soft-hover: #{map.get($dark, grayA4)};
  --color-bg-soft-active: #{map.get($dark, grayA5)};
  --color-bg-disabled: #{map.get($dark, grayA3)};

  --color-text-primary: #{map.get($dark, gray12)};
  --color-text-secondary: #{map.get($dark, gray11)};
  --color-text-accent: #{map.get($dark, green11)};
  --color-text-contrast: #{map.get($dark, gray1)};
  --color-text-disabled: #{map.get($dark, gray8)};
}
