.CategoryTabs {
  display: flex;
  gap: $space-8;
  justify-content: center;

  @media screen and (width > #{$bp-sm-768}) {
    flex-wrap: wrap;
  }
}

.FiltersButton {
  color: var(--color-text-primary);
  flex-shrink: 0;

  @media screen and (width > #{$bp-sm-768}) {
    flex-wrap: wrap;
    order: 1;
  }
}

.Viewport {
  overflow: hidden;
}

.Container {
  display: flex;
  gap: $space-8;
}
