.Thumb {
  flex-shrink: 0;
  overflow: hidden;

  height: 125px;
  aspect-ratio: 1 / 1;
  border-radius: $radius-8;

  cursor: pointer;

  &[data-selected="true"] {
    border: 1px solid var(--color-text-secondary);
  }
}
